<a href="{{link}}" class="block  ">
  <div class="flex flex-col gap-1 items-center transition-transform duration-300 hover:scale-110 ">
    <img src="{{icon}}" alt="Icon 1">
    <span class="text-xs text-center">{{label}}</span>
  </div>
</a>