<div class="h-full relative rounded-lg overflow-hidden">
  <div class="absolute inset-x-0 h-[30%] top-0 brightness-75 bg-gradient-to-b from-black/20 to-black/0"></div>
  <img src="{{src}}" class="w-full h-full" alt="{{alt}}">
  <div class="absolute inset-x-0 h-[30%] bottom-0 brightness-75 bg-gradient-to-t from-black/20 to-black/0"></div>

</div>