@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.bodylogin {
  background-image: url("/public/images/bglogin.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.regis {
  background-image: url("/public/images/bgregis.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #5a45ff;
  text-decoration: none;
}

.padlogin {
  max-width: 620px;
  margin: auto;
  height: 100vh;
  padding: 0 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.login {
  position: absolute;
  top: 330px;
}

/* CSS untuk tampilan pada perangkat mobile */
@media screen and (max-width: 767px) {
  .bodylogin {
    background-image: url("/public/images/bgphonelogin.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  .login {
    position: absolute;
    top: 480px;
  }
}
